.groups-container {
  width: 1000px; 
  margin: 50px auto;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  background: rgb(200, 200, 200);
}

.groups-container:hover {
  background: rgb(190, 190, 190);
  color: rgb(0, 0, 0);
}

.groups-container h3 {
  text-align: center;
  margin-bottom: 16px;
}

.groups-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
}

.groups-container li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.groups-container li:last-child {
  border-bottom: none;
}

.groups-container a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.groups-container a:hover {
  text-decoration: underline;
}

.groups-container h4 {
  margin-bottom: 8px;
}

.groups-container input {
  width: 100%; 
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  background: rgb(200, 200, 200);
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-size: 20px;
}

.groups-container input:hover {
  background: rgb(190, 190, 190);
  color: rgb(0, 0, 0);
}

.groups-container button {
  width: 100%;
  padding: 10px;
  background: rgb(200, 200, 200);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.groups-container button:hover {
  background: rgb(190, 190, 190);
  color: rgb(0, 0, 0);
}
