version: "3.9"
services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - /mnt/volume_tor1_01:/var/lib/postgresql/data
      - ./backend/db/schema.sql:/docker-entrypoint-initdb.d/00-schema.sql:ro
      - ./backend/db/seed.sql:/docker-entrypoint-initdb.d/10-seed.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "8025:8025"  # UI

  api:
    build: ./backend
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file: .env
    environment:
      NODE_ENV: development
    volumes:
      - ./backend/src:/app/src
      - ./backend/package.json:/app/package.json

  web:
    build: ./frontend
    depends_on: [api]
    ports:
      - "5173:80"
    environment:
      VITE_API_ORIGIN: http://138.197.155.198:8080
    volumes:
      - ./frontend/src:/usr/src/app/src
      - ./frontend/index.html:/usr/src/app/index.html
      - ./frontend/package.json:/usr/src/app/package.json
